[Unit]
Description=Docker Garbage Collector
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker run --rm -v /var/run/docker.sock:/var/run/docker.sock -v /opt/bin/docker.static:/bin/docker -v /etc:/etc -e GRACE_PERIOD_SECONDS={{docker_gc_grace_period_seconds}} {{docker_gc_img}}

[Install]
WantedBy=docker.service
