[Unit]
Description=Docker Garbage Collector
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker run --rm -v /var/run/docker.sock:/var/run/docker.sock -v /opt/bin/docker.static:/bin/docker -v /etc:/etc spotify/docker-gc

[Install]
WantedBy=docker.service
