[Unit]
Description=Static docker downloader
Requires=docker.service
Before=docker.service

[Service]
Type=oneshot
ExecStart=/opt/bin/get-static-docker

[Install]
WantedBy=docker.service
